# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.dist/
build/
dist/
*.egg-info/
.eggs/
axe-results/

# Virtual environments
.venv/
venv/
ENV/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS / misc
Thumbs.db
